<connectionStrings>
  <add name="Master" connectionString="data source=.;initial catalog=master;user id=developer; password=Repoleved@123;application name=Phis;" providerName="System.Data.SqlClient" />
  <add name="Telegram" connectionString="data source=.; initial catalog=Telegram; user id=developer; password=Repoleved@123;application name=Telegram;" providerName="System.Data.SqlClient"/>
</connectionStrings>